main {
    min-height:73.5vh;
    padding-bottom: 60px; }
  
  footer {
    min-height:10vh;

    position: relative;
    bottom: 0;
    width: 100%;
  }
header{
    min-height: 9vh;
}
  

  .navbar{
    background-color: gray;
}

.logo{
    height: 50px;
}


.caur-img{
    height: 200px;
   
}


.card{
    width: 400px;
}

.card-img-top {
    height: 200px;
} 

.carousel-caption{
    height: 100%;
}


.custom-form-width {
    width: 20%; 
    max-width:700px;
}

td {
    min-width: 150px;
    height: 50px; 
}

.table-bordered td, .table-bordered th {
    border: 2px solid black; }
td, th {
    min-width: 100px;
    height: 50px; 
    text-align: center;
}